export CF_USERNAME
CF_USERNAME="$(lpass show cf-username --note)"

export CF_PASSWORD
CF_PASSWORD="$(lpass show cf-password --note)"

export CF_ORGANISATION
CF_ORGANISATION="$(lpass show cf-organisation --note)"

export CF_SPACE
CF_SPACE="$(lpass show cf-space --note)"
